<h2>{{title}}</h2>

<ul class="list-group text-dark">
  <li class="list-group-item"><strong>ID:</strong> {{product.id}}</li>
  <li class="list-group-item"><strong>Nome:</strong> {{product.name}}</li>
  <li class="list-group-item"><strong>Preço:</strong> {{product.price}}</li>
  <li class="list-group-item"><strong>Estoque:</strong> {{product.stock}}</li>
</ul>

<a href="/produto" class="btn btn-secondary mt-3">Voltar</a>
